<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__div--logo">
            <img src="/img/logoRegister.png" alt="logo verydeli">
        </div>
        <div class="header__div--listas">
            <ul>
                <li>
                    <a href="/register">registro</a>
                    <a href="/login">ingresar</a>
                    <a href="/orders">pedidos</a> 
                </li>
                <li>
                    <a href="/store">tiendas</a>
                    <a href="/cadets">cadetes</a>
                    <a href="/map">mapa</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main__cadetes">
        <br>
        <div class="main__cadetes__div--input">
            <input placeholder="Buscá a tu cadete de confianza . . ." type="text">
            <button class="button--glass"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
        </div>
            <br>
            <div class="main__cadetes__div--ranking">
                <h2>Ranking</h2>
                <i class="fa-solid fa-medal"></i>
            </div>
            <br>
        <section class="main__cadetes__section--ranking">
            <article class="main__section__article--ranking">   
                <img src="/img/perfil1.jpg" alt="img">   
                <a class="recomendado" href="">recomendado</a>         
                <div class="main__section__article__ranking--div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking"> 
                <img src="/img/perfil2.jpg" alt="img"> 
                <a class="recomendado" href="">recomendado</a>             
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil3.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>               
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking"> 
                <img src="/img/perfil4.jpg" alt="img"> 
                <a class="recomendado" href="">recomendado</a>             
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking"> 
                <img src="/img/perfil5.jpg" alt="img"> 
                <a class="recomendado" href="">recomendado</a>             
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil6.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil7.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil8.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil9.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil10.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
        </section>
        <section class="main__cadetes__section">
            <article>
                <img src="/img/perfil1.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article>
                <img src="/img/perfil2.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article>
                <img src="/img/perfil3.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article>
                <img src="/img/perfil4.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article>
                <img src="/img/perfil5.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article>
                <img src="/img/perfil6.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article>
                <img src="/img/perfil7.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article>
                <img src="/img/perfil8.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article>
                <img src="/img/perfil9.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article>
                <img src="/img/perfil10.jpg" alt="img">
                <div>
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
        </section>
    </main>
</body>
</html>