<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__div--logo">
            <a href="/"><img src="/img/logoRegister.png" alt="logo verydeli"></a>
        </div>
        <div class="header__div--listas">
            <ul>
                <li>
                    <a href="/register">registro</a>
                    <a href="/login">ingresar</a>
                    <a href="/orders">pedidos</a> 
                </li>
                <li>
                    <a href="/store">tiendas</a>
                    <a href="/cadets">cadetes</a>
                    <a href="/map">mapa</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main__store">
        <br>
        <div class="main__store__div--input">
            <input type="text" placeholder="Buscar mi tienda favorita ...">
            <button class="button--heart"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
        </div>
        <br>
        <section class="main__store__section">
            <article class="main__store__section__article">
                <img src="/img/images (1).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (2).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (3).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (4).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (5).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (6).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (7).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (8).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (9).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (10).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (1).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
            <article class="main__store__section__article">
                <img src="/img/images (2).jpg" alt="">
                <button class="button--heart"><i class="fa-solid fa-heart"></i></button>
                <div class="main__store__section__article__div">
                    <a href="">productos</a>
                    <a href="">contacto</a>
                </div>
            </article>
        </section>
    </main>
</body>
</html>