

/*  H E A D E R  */

.header {
    background-color: #5050aa;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
}
.header__div--logo {
    width: 20%;
    border-left: 1px solid silver;
    display: flex;
}
.header__div--logo img {
    width: 100%;
}
.header__div--listas {
    display: flex;
    text-align: center;
    width: 80%;
}
.header__div--listas ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__div--listas ul li {
    width: 100%;
    display: flex;
}
.header__div--listas ul li a {
    width: 100%;
    border-left: 1px solid silver;
    padding: 10px 0;
}
.header__div--listas ul li a:last-child {
    border-right: 1px solid silver;
}

@media(min-width:481px) {
    
    .header {
        border: 1px solid silver;
    }
    .header__div--logo {
        width: 10%;
        border: 0;
    }
    .header__div--logo img {
        width: 90%;
        padding-top: 4px;
    }
    .header__div--listas {
        width: 90%;
    }
    .header__div--listas ul{
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .header__div--listas ul li a {
        padding: 0;
        border-top: 0;
        border-left: 1px solid silver;
        font-size: 23px;
    }
    .header__div--listas ul li a:last-child {
        border-right: none;
    }
  

    
}
