<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main class="main__cadetes">
        <br>
        <div class="main__cadetes__div--input">
            <input placeholder="Buscá a tu cadete de confianza . . ." type="text">
            <button class="button--glass"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
        </div>
            <br>
            <div class="main__cadetes__div--h2">
                <h2>TOP<h2>
                <h2>RANKING</h2>
                <i class="fa-solid fa-medal"></i>
            </div>
            <br>
        <section class="main__cadetes__section--ranking">
            <article class="main__section__article--ranking">   
                <img src="/img/perfil1.jpg" alt="img">   
                <a class="recomendado" href="">recomendado</a>         
                <div class="main__section__article__ranking--div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking"> 
                <img src="/img/perfil2.jpg" alt="img"> 
                <a class="recomendado" href="">recomendado</a>             
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil3.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>               
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking"> 
                <img src="/img/perfil4.jpg" alt="img"> 
                <a class="recomendado" href="">recomendado</a>             
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking"> 
                <img src="/img/perfil5.jpg" alt="img"> 
                <a class="recomendado" href="">recomendado</a>             
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil6.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil7.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article  class="main__section__article--ranking">
                <img src="/img/perfil8.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil9.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                    
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article--ranking">
                <img src="/img/perfil10.jpg" alt="img">
                <a class="recomendado" href="">recomendado</a>
                <div class="main__section__article__ranking--div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
        </section>
        <br>
        <div class="main__cadetes__div--h22">
            <h2>RANKING</h2>
            <i class="fa-solid fa-user"></i>
        </div>
        <br>
        <br>
        <section class="main__cadetes__section">
            <article class="main__section__article">
                <img src="/img/perfil1.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil2.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil3.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil4.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil5.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil6.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil7.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil8.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil9.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil10.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil1.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
            <article class="main__section__article">
                <img src="/img/perfil2.jpg" alt="img">
                <div class="main__section__article__div">
                    <a href="">elegir</a>
                    <a href="">ubicar</a>
                </div>
            </article>
        </section>
    </main>
    <!-- <%- include('partials/footer') %>
<%- include('partials/scripts') %> -->
</body>
</html>