<% cadets.forEach(cadet => { %>
    <article class="main__section__article--ranking">   
        <img src="/img/<%= cadet.image %>" alt="img">   
        <a class="recomendado" href="">recomendado</a>         
        <div class="main__section__article__ranking--div">
            <a href="">elegir</a>
            <a href="/storeCadets/detail/">Conoceme</a>
        </div>
    </article>
<% }) %>           