<header class="header">
    <div class="header__div--logo">
        <img src="/img/logoRegister.png" alt="logo verydeli">
    </div>
    <div class="header__div--listas">
        <ul>
            <li>
                <a href="/register">registro</a>
                <a href="/login">ingresar</a>
                <a href="/orders">pedidos</a> 
            </li>
            <li>
                <a href="/store">tiendas</a>
                <a href="/cadets">cadetes</a>
                <a href="/map">mapa</a>
            </li>
        </ul>
    </div>
</header>