<header class="header">
    <div class="header__div--logo">
        <a href="/"><img src="/img/logoRegister.png" alt="logo verydeli"></a>
    </div>
    <div class="header__div--listas">
        <ul>
            <li>
                <a href="/users/register">registro</a>
                <a href="/users/login">ingresar</a>
                <a href="/orders">pedidos</a> 
                <a href="/storesCadets/create">Admin</a>
            </li>
            <li>
                <a href="/stores">tiendas</a>
                <a href="/cadets">cadetes</a>
                <a href="/map">mapa</a>
            </li>
        </ul>
    </div>
</header>
